.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainTable {
    width: 90%;
    margin: auto;

    &__header {
        background-color: rgba(3, 73, 114, 0.307);
        color: #fff;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);

        &__element {
            padding: 5px;
            text-align: center;
            border-top: 1px solid #fff;
        }
    }

    &__body {
        background-color: #d3e9f8c7;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        &__row:nth-child(even) {
            background-color: #ffffff13;
        }

        &__element {
            padding: 10px;
            text-align: center;
        }
    }
}

/* Pagination container */
.pagination {
    margin-top: 20px;
    text-align: center;

    /* Pagination button style */
    &__button {
        background-color: rgba(3, 116, 181, 0.382);
        color: #fff; /* White text color */
        border: none;
        padding: 10px 15px;
        margin: 2px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(2, 62, 96, 0.307);
        }
    }

    /* Pagination button style */
    &__buttonActive {
        background-color: rgba(5, 121, 189, 0.812);
        color: #fff; /* White text color */
        border: none;
        padding: 10px 15px;
        margin: 2px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: rgba(2, 46, 71, 0.812);
        }
    }
}

/* Active page button style */
.active {
    background-color: green; /* Darker blue color for active button */
}

/* Hover effect on buttons */
.pagination button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
