.errorWarning {
    text-align: center;
    border-bottom: 1px solid white;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);

    color: white;
    height: 20px;
    padding: 2px;
}

.error {
    background-color: rgba(128, 1, 1, 0.689);
}

.regular {
    background-color: rgba(3, 73, 114, 0.307);
}

.success {
    background-color: rgba(6, 155, 21, 0.613);
}

.emailForm {
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 280px;
    border-top: 1px solid white;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(3, 73, 114, 0.307);

    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &__input {
            color: white;
            width: 95%;

            margin: 10px 0 10px 0;
            height: 40px;
            background: transparent;
            border: 1px solid white;
            border-radius: 25px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            text-align: center;
            outline: none;
            font-size: 15px;
        }

        &__input::placeholder {
            color: rgba(255, 255, 255, 0.459);
        }

        &__button {
            color: white;
            width: 95%;
            margin: 5px 0 5px 0;
            height: 40px;
            background: transparent;
            border: 1px solid white;
            border-radius: 25px;
            text-align: center;
            outline: none;
            font-size: 15px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__button:hover {
            border-color: #2ecc71;
            color: #2ecc71;
            cursor: pointer;
        }

        &__spinner {
            animation: 3s linear infinite rotate;
        }
    }

    &__prompt {
        width: 95%;
        font-size: 16px;
        margin: 5px auto 5px auto;
        display: flex;
        font-weight: 300;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
