.main {
    min-height: 500px;
    display: flex;
    flex-direction: column;

    &__intro {
        font-size: 40px;
        font-weight: 200;

        color: white;
        text-align: center;
    }

    &__userchoice {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }
}
